@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{

    box-sizing: border-box;
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --background-color:rgb(25, 25, 27);
    --hacker-green: #20C20E;
}

html{
    scroll-behavior:smooth;
}

.home-button a{
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right:0;
    bottom:0;
    width:50px;
    height:50px;
    border: 5px solid red;
    z-index: 100;
    margin: 50px 50px;
    border-radius: 50%;
    color: rgb(255, 0, 0);
    font-size: 1.5rem;
    text-decoration: none;
}

.home-button a:hover{
    box-shadow: 1px 0 10px red;;
}


.nav-bar{
    width:100%;
    position:fixed;
    background-color:var(--background-color);
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    padding-top:5%;
    transition: .3s; 
    z-index: 2;
}

.nav-bar.active{
    padding:0;
}

.nav-bar.active > .logo{
    display: none;
    margin:0;
}

.nav-bar a{
    text-decoration: none;
    color: white;
    text-shadow:  1px 0 10px;
    position: relative;


}

.nav-bar a::after{
    content: "";
    width:0;
    height:2px;
    bottom:0;
    left:0;
    background-color: var(--hacker-green);
    position: absolute;
}

.nav-bar a:hover:after{
    width:100%;
    transition: 1s;
}


.logo{
    font-size:2.5rem;
    font-weight: bold;
    color: #20C20E;
    box-shadow: 0px 0px 10px 5px rgb(175, 175, 175);
    padding: 0 20px;
    margin: 10px 0;
}

.logo span{
    color:white;
}

.nav-bar ul{
    margin:0;
}

.nav-bar li {
    display: inline-block;
    list-style: none;
    margin: 0 30px;
    text-shadow:  1px 0 10px;
    font-size: 20px;
}

/* hero styling */

.hero{
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h1{
    font-size: 4.5rem;
    color:white;
    margin-bottom: 30px;
}
.hero h2{
    color:#20C20E;
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;
}

.hero .links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.hero .links a:hover{
    background-position: left;
    transition:all 1s ease;
    color:var(--background-color);
}

.hero .links a{
    /* background-color: var(--background-color); */
    background: linear-gradient(to left, var(--background-color) 50%, var(--hacker-green) 50%) right;
    background-size: 200% 100%;
    padding: 30px;
    color: var(--hacker-green);
    border: 2px solid var(--hacker-green);;
    margin: 0 30px;
    width:100px;
    height:100px;
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.hero .links .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*for mobile menu button*/
.menu-btn{
    display:none;
    position: fixed;
    font-size: 25px;
    margin-bottom: 5px;
    background-color: var(--hacker-green);
    padding: 5px 10px;
    top:0;
    right:0;
    justify-content: 100;
    color:var(--background-color);
    z-index: 1000;
    border-bottom-left-radius: 50%;
    cursor: pointer;
}

.menu-btn i{
    font-size: 20px;
    padding: 20px;
}

.side-bar{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width:50%;
    background-color: var(--hacker-green);
    right:-100%;
    top:0;
    height:100vh;
    z-index:999;
    color:white;
    transition: 1s;
}

.side-bar.active{
    right:0;
}

.side-bar ul{
    margin:0;
    padding:0;
}

.side-bar ul li{
    display: block;
    font-size: 2.5rem;
    margin: 30px 0;
    color:black;
    position: relative;
    text-align: center;
} 

.side-bar ul li a{
    text-decoration: none;
    color: var(--background-color);
}

.side-bar ul li::after{
    content:"";
    position: absolute;
    width:0;
    height: 3px;
    left:0;
    bottom:0;
    background-color: yellow;
}

.side-bar ul li:hover::after{
    width:100%;
    transition: 1s;
}


/*section styling*/
section{
    padding: 50px 0;
    background-color: var(--background-color);
}

/* title */
.title{
    font-size: 2.8rem;
    margin-bottom: 30px;
    color:rgb(255, 208, 0);
}

/* max width */
.max-width{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 70%;
    width:100%;
}


/* about styling */
.about{
    display: flex;
    justify-content: center;
    width:100%;
}

.about h2{
    text-align:justify;
    font-size: 23px;
    font-weight:500;
    color: #20C20E;
}

.about .resume-btn{
    margin: 30px 0;
    padding: 15px 45px;
    display: block;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    color:var(--hacker-green); 
    border: 3px solid var(--hacker-green); 
    text-decoration: none;
}

.about .resume-btn:hover{
    background-color: var(--hacker-green);
    color:var(--background-color); 
    transition: .3s;
}

.about p{
    font-size: 20px;
    color:white;
}

.about p span{
    font-size: 23px;
    font-weight: 500;

}

.about img{
    width:60%;
}

/* education styling */

.education{
    display: flex;
    justify-content: center;
    width:100%;
}


.education .edu-info{
    width: 100%;
    text-align: center;
}

.education .edu-info h1{
    margin: 20px 0;
    font-size: 23px;
    font-weight:500;
    color: white;
}

.education .edu-info h1 span{
    color: var(--hacker-green);
    font-size: 28px;
}

.education img{
    margin: auto auto;
    width: 50%;
    display: block;
    margin: 10px 0;
}

/*skills*/
.skills{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    width:100%;
}

.skills .max-width{
    max-width: 80%;
}

.skills .skills-group{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width:100%;
    text-align: center;
    max-width: 800px;

}

.skills .skills-group i{
    font-size: 3rem;
    color: crimson;
    margin: 20px 0;
}

.skills .skills-group div{
    margin: 20px 0;
}

.skills .skills-group .description{
    color:white;
}

/*projects styling*/
.projects{
    width:100%;
    display: flex;
    justify-content: center;
}

.projects .max-width{
    /* max-width: 1000px; */
    display: flex;
    flex-direction: column;
}

.projects .max-width .container{
    display: flex;
    justify-content: center;
    float: right;
    padding: 20px 0;
    flex-wrap: wrap;
}

/* .projects .max-width .container.active{
    visibility: hidden;

} */

.projects .max-width .container .card{
    width: 350px;
    height: 450px;
    margin: 10px 30px;
    display: flex;
    flex-direction: column; 

}


.card-img-top{
    width:350px;
    height:50%;
}

.card-body{
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: flex-start;
}

.card-body .card-text{
    height:90%;
}


/* responsive styling*/

@media (max-width: 1100px){

    .nav-bar{
        display: block;
        text-align: center;

    }

    .menu-btn{
        display:block;
    }

    .menu-btn i.active:before{
        content: "\f00d";      
    }

    .side-bar.active{
        right:0;
    }

    .nav-bar .menu{
        display: none;
    }

    .hero h1{
        font-size: 4rem;
    }

    .hero h2{
        font-size: 2rem;
    }
}

@media (max-width: 700px){

    .hero h1{
        font-size: 3rem;
    }
}

@media (max-width: 450px){

    .max-width{
        max-width: 80%;
    }
    .hero h1{
        font-size: 2.6rem;
    }
    .hero h2{
        font-size: 1.8rem;
    }
    .about .resume-btn{
        padding: 10px 30px;
        border-radius: 20px;
    }

    .title{
        font-size: 2rem;
    }
    .about img{
        width: 100%;
    }
    .about h2{
        font-size: 15px;
    }

    .side-bar ul li{
        font-size: 1.5rem;
    }
}